<%# código fornecido pelo livro. Serve para definir uma template genérica para conter todas as Views %>

<!DOCTYPE html>
<html>
<head>
  <title> MyRottenPotatoes </title>
  <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%- if flash[:notice] %>
    <div class="alert alert-info text-center"><%=flash[:notice]%></div>
  <%- elsif flash[:alert] %>
    <div class="alert alert-danger text-center"><%=flash[:alert]%></div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>